body {
  background-image: url(http://solarviews.com/raw/earth/bluemarblewest.jpg);
  color: white;
  font-family: arial;
}
h1 { 
  font-size: 120pt;
}
h4 {
  font-size: 30pt;
}

h8 {
  font-size: 120pt;
}